{% extends 'base.html.twig' %}

{% block title %}TP OAuth - Page d'accueil{% endblock %}

{% block body %}

<div class="container">
    <div class="pb-3">
        {% if app.user %}
            <h1><strong>Bienvenue <strong>{{app.user.firstname}} {{app.user.lastname}}</strong> !</strong></h1>
        {% else %}
            <h1>Vous n'êtes pas connecté.</h1>
        {% endif %}
    </div>
    <div>
        {% if app.user %}
            <a role="button" class="btn btn-secondary" href="/logout">Se déconnecter</a>
        {% else %}
            <a role="button" class="btn btn-primary" href="/register">S'inscrire</a>
            <a role="button" class="btn btn-secondary" href="/login">Se connecter</a>
        {% endif %}
    </div>
</div>
{% endblock %}
