{% extends 'base.html.twig' %}

{% block title %}TP OAuth - Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="pb-3">
            <h2><strong>Connexion</strong></h2>
            <hr>
        </div>
        <form action="{{ path('login') }}" method="POST">
            {% if error %}
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <div class="form-group">
                <label for="username">Email :</label>
                <input type="email" class="form-control" id="username" name="_username" placeholder="john.doe@exemple.com" value="{{ last_username }}"/>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" class="form-control" id="password" name="_password" />
            </div>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}

            <div class="form-group">
                <a role="button" class="btn btn-danger" href="/connect/google">Se connecter avec Google</a>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}
