{% extends 'base.html.twig' %}

{% block title %}TP OAuth - Mon activité{% endblock %}

{% block body %}
<div class="container">
    <div class="pb-5">
        <h2><strong>Mon activité</strong></h2>
    </div>
    <div class="content">
        {% if logs is not null or logs is not empty %}
            <div class="mb-4" style="max-height:500px;overflow:auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.action }}</td>
                                <td>{{ log.date|date('l j F Y H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="btn-group float-right">
                <a role="button" class="btn btn-danger" href="/activity/reset">
                    <i class="fa-solid fa-trash"></i>&nbsp;
                    Réinitialiser
                </a>
            </div>
        {% else %}
            <div>
                <p>Aucune activité récente.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
