{% extends 'base.html.twig' %}

{% block title %}TP OAuth - Mes informations{% endblock %}

{% block body %}
<div class="container">
    <div class="pb-4">
        <h2>Mes informations</h2>
    </div>
    <div class="content">
        <div style="max-height:500px;overflow:auto;">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Authentification</th>
                        <td>{{ auth_type }}</td>
                    </tr>
                    <tr>
                        <th>Token</th>
                        <td>{{ token }}</td>
                    </tr>
                </tbody>
            </table>
        <div>
    </div>
</div>
{% endblock %}
